<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sello Universal Inclusivo</title>
    <script src="{{ url_for('static', filename='js/js_admin/script.js') }}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&loading=async&region=CL&language=es&callback=initMap&libraries=places" async defer></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_admin/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">



    

</head>

<body>
    <div id="map"></div>
    <div id="centerButton">
        <i class="fa-solid fa-location-crosshairs"></i>
    </div>  
    <div class="search-container">
        <div class="search-bar">
          <input type="text_search" id="searchInput" placeholder="Busque aquí...">
          <button type="button" id="searchButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
              <circle cx="11" cy="11" r="8"></circle>
              <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
            </svg>
          </button>
        </div>
        <div id="searchSuggestions" class="search-suggestions"></div>
    </div>

    <button id="menu-toggle" class="menu-toggle">
        <img src="{{ url_for('static', filename='images/menu_icon.png') }}" alt="Menu">
    </button>
    
    <div id="barra_izquierda" class="barra-izquierda">
        {% if user_role == 1 %}
        <div>
            <button id="add_admin" onclick="redirectToAdminPage()">
                <img src="{{ url_for('static', filename='images/admin.png') }}" alt="img_filtro">
                <p>Gestion de Admin</p>
            </button>
        </div>
        {% endif %}
        {% if user_role in [1, 2] %}
        <div>
            <button id="agregar-marcador" class="add-marker-btn">
                <img src="{{ url_for('static', filename='images/add_marker.png') }}" alt="Agregar Marcador">
                <p>Agregar Marcador</p>
            </button>
        </div>
        {% endif %}
        {% if user_role == 1 %}
        <div>
            <button id="edit-accesibilidad" class="add-accesibilidad-btn" onclick="redirectToAccessibilityPage()">
                <img src="{{ url_for('static', filename='images/accesibilidad.png') }}" alt="Agregar Marcador">
                <p>Gestion de Accesibilidad</p>
            </button>
        </div>
        {% endif %}
        {% if user_role in [1, 2, 3] %}
        <div>
            <button id="agregar-line" class="add-line-btn">
                <img src="{{ url_for('static', filename='images/add_map.png') }}" alt="Agregar Marcador">
                <p>Marcar Accesibilidad en Mapa</p>
            </button>
        </div>
        {% endif %}
    </div>

    <img id="logo" src="{{ url_for('static', filename='images/Sello_Universal_Inclusivo.webp') }}" alt="Logo">


    <div class="user-menu">
        <button class="user-button" onclick="toggleDropdown()">
            <span class="user-name">{{ session['user_name'] }}</span>
            <span class="chevron"></span>
        </button>
        <div class="dropdown-menu">
            <a href="{{ url_for('logout') }}">Cerrar Sesión</a>
        </div>
    </div>
    

    <div id="infoBox" class="info-box" aria-labelledby="info-nombre" role="dialog" aria-modal="true">
        <button id="close-info-box" class="close-button" aria-label="Cerrar información">
            <i class="fas fa-times"></i>
        </button>
        
        <img id="info-img" src="" alt="Imagen del Edificio">
        
        <div class="info-header">
            <h2 id="info-nombre"></h2>
        </div>
    
        <div class="info-actions">
            <button class="action-button">
                <i class="fas fa-directions"></i>
                <span>Cómo llegar</span>
            </button>
        </div> 
    
        <div class="info-content">
            <div class="info-item">
                <i class="fas fa-map-marker-alt info-icon"></i>
                <p class="info-text">
                    <strong>Dirección:</strong><br>
                    <span id="info-direccion"></span>
                </p>
            </div>
    
            <div class="info-item">
                <i class="fas fa-clock info-icon"></i>
                <p class="info-text">
                    <strong>Horario de Atención:</strong><br>
                    <span id="info-horario"></span>
                </p>
            </div>
    
            <div class="info-item">
                <i class="fas fa-globe info-icon"></i>
                <p class="info-text">
                    <strong>Sitio Web:</strong><br>
                    <a id="info-sitioweb" href="" target="_blank" rel="noopener noreferrer"></a>
                </p>
            </div>
    
            <div class="info-item">
                <i class="fas fa-universal-access info-icon"></i>
                <p class="info-text">
                    <strong>Accesibilidad:</strong>
                </p>
                <ul id="info-accesibilidad"></ul>
            </div>
        </div>
        {% if user_role in [1, 2] %}
        <div class="action-buttons">
            <button id="edit-marker" class="edit-button">
                <i class="fas fa-edit"></i>
                Modificar
            </button>
            <button id="delete-marker" class="delete-button">
                <i class="fas fa-trash"></i>
                Eliminar
            </button>
        </div>
        {% endif %}
    </div>

    <div id="edificioModal" class="edificio-modal">
        <div class="modal-content">
            <header class="modal-header">
                <h2 id="modalTitulo">Agregar Nuevo Edificio</h2>
                <button class="close">&times;</button>
            </header>
            <form id="edificioForm">
                <!-- Barra de búsqueda de Google Places API (solo para agregar) -->
                <div id="searchContainer" class="form-group" style="display: none;">
                    <label for="placesSearch">Buscar por Google Places</label>
                    <input type="text" id="placesSearch" name="placesSearch" placeholder="Buscar por Google Places">
                </div>
                <!-- Botón para cambiar a modo manual -->
                <div class="form-group" id="toggleModeContainer">
                    <button type="button" id="manualModeBtn" class="btn-primary btn-full-width">Agregar Manualmente</button>
                </div>
                <!-- Campos comunes para agregar y editar -->
                <div id="fieldsContainer">
                    <div class="form-group">
                        <label for="nombre">Nombre del Edificio</label>
                        <input type="text" id="nombre" name="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input type="text" id="direccion" name="direccion" required>
                    </div>
                    <div class="form-group">
                        <label for="sitioWeb">Sitio Web</label>
                        <input type="url" id="sitioWeb" name="sitioWeb">
                    </div>
                    <div class="form-group form-group-inline">
                        <div>
                            <label for="latitud">Latitud</label>
                            <input type="number" id="latitud" name="latitud" step="any" required oninput="validarNumero(this)">
                        </div>
                        <div>
                            <label for="longitud">Longitud</label>
                            <input type="number" id="longitud" name="longitud" step="any" required oninput="validarNumero(this)">
                        </div>
                    </div>
                </div>
                <!-- Estos campos permanecerán visibles sin importar el modo -->
                <div class="form-group">
                    <label for="tipoEdificio">Tipo de Edificio</label>
                    <select id="tipoEdificio" name="tipoEdificio" required>
                        <option value="">Seleccione un tipo</option>
                        <option value="Hospital">Hospital</option>
                        <option value="Restaurante">Restaurante</option>
                        <option value="Escuela">Escuela</option>
                        <option value="Universidad">Universidad</option>
                        <option value="Comisaria">Comisaría</option>
                        <option value="Centro_comercial">Centro comercial</option>
                        <option value="Hotel">Hotel</option>
                        <option value="Estación_de_bomberos">Estación de bomberos</option>
                        <option value="Iglesia">Iglesia</option>
                        <option value="Gimnasio">Gimnasio</option>
                        <option value="Parque">Parque</option>
                        <option value="Estación_de_tren">Estación de tren</option>
                        <option value="Aeropuerto">Aeropuerto</option>
                        <option value="Estadio">Estadio</option>
                        <option value="Supermercado">Supermercado</option>
                        <option value="Estación_de_servicio">Estación de servicio</option>
                        <option value="Tienda">Tienda</option>
                        <option value="Otro">Otro</option>
                    </select>
                </div>
                <div class="form-group form-group-inline">
                    <div>
                        <label for="horarioInicio">Horario de Inicio</label>
                        <input type="time" id="horarioInicio" name="horarioInicio" required>
                    </div>
                    <div>
                        <label for="horarioFin">Horario de Fin</label>
                        <input type="time" id="horarioFin" name="horarioFin" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="imagen">URL de Imagen</label>
                    <input type="url" id="imagen" name="imagen">
                </div>
                <div class="form-group">
                    <label>Tipo de Accesibilidad</label>
                    <div id="accesibilidadContainer" class="accesibilidad-container">
                        <!-- Aquí se generarán dinámicamente los checkboxes -->
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" id="submitBtn" class="btn-primary btn-full-width">Agregar Edificio</button>
                </div>
            </form>
        </div>
    </div>
    


    <div id="routeModal" class="route-modal">
        <div class="route-modal-content">
          <span class="route-modal-close">&times;</span>
          <h3 class="route-modal-title">Detalles de la Ruta</h3>
          <div class="route-mode-buttons">
            <button id="walkingMode" class="route-mode-button">
              <i class="fas fa-walking"></i> Caminar
            </button>
            <button id="drivingMode" class="route-mode-button">
              <i class="fas fa-car"></i> Conducir
            </button>
          </div>
      
          <!-- Información básica que aparecerá solo en móviles -->
          <div id="routeDistanceMobile" class="route-basic-info-mobile"></div>
          <div id="routeTimeMobile" class="route-basic-info-mobile"></div>
      
          <!-- Información en PC -->
          <div class="route-details-info">
            <span id="routeDistance" class="route-basic-info"></span>
            <span id="routeTime" class="route-basic-info"></span>
          </div>
      
          <div id="routeDetails" class="route-details">
            <!-- Detalles de la ruta -->
          </div>
          <button id="moreInfoButton" class="more-info-button">
            Si quieres más información presione aquí
          </button>
        </div>
    </div>


    <div id="accessibilityModal" class="accessibility-modal">
        <div class="accessibility-modal__content">
            <header class="accessibility-modal__header">
                <h2 class="accessibility-modal__title">Agregar Línea de Accesibilidad</h2>
                <button class="accessibility-modal__close-btn" id="closeModal" aria-label="Cerrar modal">&times;</button>
            </header>
            <form id="accessibilityForm" class="accessibility-form">
                <div class="accessibility-form__group">
                    <label for="accesibilidad" class="accessibility-form__label">Tipo de Accesibilidad</label>
                    <select id="accesibilidad" name="accesibilidad" class="accessibility-form__select" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                    </select>
                </div>
                <!-- Inicio de punto -->
                <fieldset class="accessibility-form__fieldset">
                    <legend class="accessibility-form__legend">Inicio de Punto</legend>
                    <div class="accessibility-form__row">
                        <div class="accessibility-form__group">
                            <label for="latitud_inicio" class="accessibility-form__label">Latitud</label>
                            <div class="accessibility-form__input-group">
                                <input type="number" id="latitud_inicio" name="latitud_inicio" class="accessibility-form__input" placeholder="Ej: -34.000000" step="any" required oninput="validarNumero(this)">
                            </div>
                        </div>
                        <div class="accessibility-form__group">
                            <label for="longitud_inicio" class="accessibility-form__label">Longitud</label>
                            <div class="accessibility-form__input-group">
                                <input type="number" id="longitud_inicio" name="longitud_inicio" class="accessibility-form__input" placeholder="Ej: -71.000000" step="any" required oninput="validarNumero(this)">
                            </div>
                        </div>
                    </div>
                </fieldset>
            
                <!-- Fin de punto -->
                <fieldset class="accessibility-form__fieldset">
                    <legend class="accessibility-form__legend">Fin de Punto</legend>
                    <div class="accessibility-form__row">
                        <div class="accessibility-form__group">
                            <label for="latitud_final" class="accessibility-form__label">Latitud</label>
                            <div class="accessibility-form__input-group">
                                <input type="number" id="latitud_final" name="latitud_final" class="accessibility-form__input" placeholder="Ej: -34.000000" step="any" required oninput="validarNumero(this)">
                            </div>
                        </div>
                        <div class="accessibility-form__group">
                            <label for="longitud_final" class="accessibility-form__label">Longitud</label>
                            <div class="accessibility-form__input-group">
                                <input type="number" id="longitud_final" name="longitud_final" class="accessibility-form__input" placeholder="Ej: -71.000000" step="any" required oninput="validarNumero(this)">
                            </div>
                        </div>
                    </div>
                </fieldset>
    
                <div class="accessibility-form__group">
                    <label for="color" class="accessibility-form__label">Color de la Línea</label>
                    <select id="color" name="color" class="accessibility-form__select" required>
                        <option value="" disabled selected>Seleccione una opción</option>
                        <option value="#FFB3BA">🔴 Rosa Claro</option>
                        <option value="#FFDFBA">🟠 Naranja Claro</option>
                        <option value="#FFFFBA">🟡 Amarillo Claro</option>
                        <option value="#BAFFC9">🟢 Verde Menta</option>
                        <option value="#BAE1FF">🔵 Celeste Claro</option>
                        <option value="#E3BAFF">🟣 Lila Claro</option>
                    </select>
                </div>

                
                
                <div class="accessibility-form__group">
                    <label for="descripcion" class="accessibility-form__label">Descripción</label>
                    <textarea id="descripcion" name="descripcion" class="accessibility-form__textarea" placeholder="Agregue una descripción..." rows="4" required></textarea>
                </div>
    
                <div class="accessibility-form__group">
                    <button type="submit" class="accessibility-form__submit-btn">Agregar Línea de Accesibilidad</button>
                </div>
            </form>
        </div>
    </div>
    
    
    


    <div id="locationError">
        <span id="locationErrorMessage">Error de geolocalización</span>
        <button class="close-btn" id="btnCerrarErrorUbicacion">✕</button>
    </div>



</div>

<script>
    function redirectToAdminPage() {
        window.location.href = "{{ url_for('admin_management') }}";  
    }
    function redirectToAccessibilityPage(){
        window.location.href = "{{ url_for('admin_Accessibility') }}"
    }
    
</script>
<script>
    function validarNumero(input) {
    const regex = /-\d{1,2}(\.\d{0,15})?$/;
      if (!input.value.match(regex)) {
        input.setCustomValidity('Por favor, ingrese un número válido con el formato -XX.YYYYYYYYYYYY, donde XX son máximo 2 dígitos y YYYYYYYYYYYY hasta 15 decimales.');
      } else {
        input.setCustomValidity('');
      }
    }
</script>


</body>
</html>

